<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find out when polls close in your state!">
        <meta property="og:title" content="When can I vote?"/>
        <meta property="og:image" content="/ballot.png"/>
        <title>When can I vote?</title>
        <link rel="stylesheet" href="/style.css"/>
        <link rel="icon" href="/ballot.png"/>
    </head>
    <body>
        <img alt="Ballot box" src="/ballot.png"/>
        <p>Data from Ballotpedia</p>
        <h1><%= row["State"] %> is voting 100% by mail!</h1>
        <a href="/">Back</a>
    </body>
</html>